venv/*
data/WESAD/*
data/preprocessed/wesad/*
data/sleep_ecg_data/*
utils/__pycache__/*

.cache/
.config/
.ipython/
.jupyter/
.keras/
.local/
.venv/

app/__pycache__/
app/services/__pycache__/

frontend/node_modules/

.bash_history
approach.md
