numpy<2.0
pandas>=1.5
scipy>=1.9
matplotlib>=3.6
seaborn>=0.12

neurokit2>=0.2.7
wfdb>=4.1.2

scikit-learn>=1.2
xgboost>=1.7

tqdm>=4.64
joblib>=1.2
pyyaml>=6.0

ipykernel>=6.15

streamlit>=1.20
plotly>=5.14

tensorflow